body{
    text-align: center;
    background-color: #c1e8f5;
    background-image: url('../img/estrelas.png');
    background-repeat: repeat; 
    z-index: -1;
    font-family: 'Work Sans', sans-serif;   
}

img{
    margin-bottom: 30px;
}

.badge{
    float: right;
}

.page-header{
    border-radius: 15px;    
}

.page-header > h1{    
    font-size: 50px;
}

.page-header > h1 > b{
    color: #000000;
}

.page-header > small{
    font-size: 30px;
}

.row{
    margin-top: 40px;
}

.row > div > p{
    color: #000000;
    font-size: 20px;
}

.counter-class{
    font-size: 30;
}

.jumbotron{
    margin-top: 30px;
    box-shadow: 8px 8px;
    background-color: rgba(90, 177, 248, 0.856);     
}

.jumbotron > p{
    text-align: center;
    color: #000000;
    font-size: 24px;
}

.counter-class{
    margin-bottom: -10px;
}

.counter-class > span{
    font-weight: bold;
}

.countProgress{
    margin-top: 5px;
}

.progress{
    height: 20px;    
    box-shadow: 3px 3px;
}

.form-group{
    text-align: center;
}

.list-group{
    max-height: 300px;    
    overflow: scroll;
    margin-top: -13px;    
    border-radius: 20px;
}

.list-group-item{
    text-align: center; 
    border-radius: 20px;
}

.list-group-item > a:hover{
    background-color: #D3D3D3;    
}

#span-value{
    font-size: 24px;
}

#mensagens{
    background-color: #FFFFFF;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bolder;
}

#titulo{
    margin-top: 20px;
    margin-bottom: 10px;
}

#mensagem{
    margin-top: 10px;
    margin-bottom: 15px;
}