body{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;    
}

img{
    margin-bottom: 30px;
}

.row{
    margin-top: 40px;
}

.counter-class{
    font-size: 30;
}

.jumbotron{
    margin-top: 30px;
    background-color: rgba(90, 177, 248, 0.856);    
}

.countProgress{
    margin-top: 10px;
}

.progress{
    height: 20px;
}

#span-value{
    font-size: 24px;
}
