.body{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;    
}

.row{
    margin-top: 40px;
}

.counter-class{
    font-size: 30;
}

.jumbotron{
    margin-top: 30px;
    background-color: rgba(90, 177, 248, 0.856);
}

.countProgress{
    margin-top: 10px;
}

.progress{
    height: 20px;
}

.img{
    background-image: url('../img/ursinho-marrom.png');
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    float: right;
}

#span-value{
    font-size: 24px;
}